html {
    position: relative;
    min-height: 100%;
}

.navbar {

    #nav-logo {
        margin: 10px 10px 10px 0;
    }

    .nav-item{
        margin: 0 10px;
    }

    .nav-cart {
        text-decoration: none;
        color: white;
        background-color: #515151;
        padding: 8px;
        border-radius: 10px;
        transition: background-color .2s;
        position: relative;

        &:hover {
            background-color: #636363;
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 60px 0 0 0;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(43, 48, 53);

    .footer-text {
        color: white;
        font-size: 15px;
    }
}

.qty-circle {
    position: absolute;
    padding: 0 8px;
    background-color: rgb(195, 57, 57);
    border-radius: 50%;
    top: -5px;
    left: -5px;
}

@media only screen and (max-width: 767px) {
    
    .navbar {
        .navbar-brand {
            font-size: 16px;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    
    .navbar {
        #navbarText {
            padding-bottom: 10px;
        }

        .nav-cart {
            margin: 0 0 0 5px;
        }
    }
}