.offers-container {
    max-width: 960px;
    
    .intro {
        margin: 20px 0 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offers-list {
        margin-bottom: 80px;
        .col-card {
            display: flex;
            justify-content: center;

            .card.selected {
                border: 1px solid rgb(97, 186, 97);
            }

            img {
                height: 220px;
                object-fit: cover;
            }

            .card-footer {
                display: flex;
                flex-direction: column;

                .infos {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0 0 14px 0;
                }

                .cart {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .add-cart-btn {
                        flex: 5;
                    }

                    .cart-qty {
                        flex: 2;
                    }
                }
            }
        }
    }
}