{% extends "common/base.html" %}
{% load static %}

{% block title %}Echec de paiement{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/order-fail.css' %}">
{% endblock css %}

{% block js %}{% endblock js %}

{% block body %}

<div class="container order-fail-container">

    <h2>Echec du paiement</h2>

    <div>
        Il semble que vous ayez annulé votre paiement ou rencontré un problème. <br>
        Vous pouvez essayer à nouveau de payer votre commande, en cliquant sur le lien ci-dessous.
    </div>
    <a class="btn btn-primary mt-4" href="{% url 'show_cart' %}" role="button">Réessayer mon paiement</a>

</div>

{% endblock body %}