{% extends "common/base.html" %}
{% load static %}

{% block title %}Paiement{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}

{% block body %}

<div class="container payment-container">

    <h2>Récapitulatif commande</h2>

    <div class="offer-recap-infos">
        <img src="{{ offer.image.url }}" alt="Image de l'offre">
        <div class="offer-infos">
            <div class="text-infos">
                <div class="offer-title">Offre {{ offer.title }}</div>
                <div class="offer-description">{{ offer.description }}</div>
            </div>
        </div>
    </div>

    <div class="payment-infos">
        <div class="offer-places">Nombre de billets : <span>{{ offer.places}}</span></div>
        <div class="offer-price">Prix total : <span>{{ offer.price }} € TTC</span></div>
    </div>

    <div class="spacer"></div>

    <h2>Paiement</h2>

    <form action="/payment" method="POST" class="row g-3">

      {% csrf_token %}

      <h4>Informations de paiement</h4>
      {% for field in payment_form %}
          
        <div class="{% if field.html_name == 'code' %}col-12{% else %}col-md-3{% endif %}"> 
              
          <label for="{{ field.id_for_label }}" class="form-label">
          {{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}
          </label>
  
          {{ field }}
  
          {% if field.help_text %}
          <div class="form-text">
              {{ field.help_text }}
          </div>
          {% endif %}
  
          {% for error in field.errors %}
          <div class="text-danger">
              {{ error }}
          </div>
          {% endfor %}
        
        </div>
      {% endfor %}

        <div class="col-12 mt-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="condition-check" name="condition-check" required>
                <label class="form-check-label" for="condition-check">
                    En validant ce paiement, je confirme avoir lu et accepté les <a href="#">CGV</a> ainsi que la <a href="#">politique de confidentialité</a>
                    du site. <span class="required">*</span>
                </label>
            </div>
        </div>
          
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary px-5 mt-4 payment-submit">Valider le paiement</button>
        </div>

      </form>

</div>

{% endblock body %}