{% extends "common/base.html" %}
{% load static %}

{% block title %}Paiement{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}

{% block body %}

<div class="container payment-container">

    <h2>Récapitulatif commande</h2>

    <div class="offer-recap-infos">
        <img src="{{ offer.image.url }}" alt="Image de l'offre">
        <div class="offer-infos">
            <div class="text-infos">
                <div class="offer-title">Offre {{ offer.title }}</div>
                <div class="offer-description">{{ offer.description }}</div>
            </div>
        </div>
    </div>

    <div class="payment-infos">
        <div class="offer-places">Nombre de billets : <span>{{ offer.places}}</span></div>
        <div class="offer-price">Prix total : <span>{{ offer.price }} € TTC</span></div>
    </div>

    <div class="spacer"></div>

    <form action="{% url 'create_checkout_session' %}" method="POST" class="row g-3">

      {% csrf_token %}

        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="condition-check" name="condition-check" required>
                <label class="form-check-label" for="condition-check">
                    Avant de passer au paiement, je confirme avoir lu et accepté les <a href="#" data-bs-toggle="modal" data-bs-target="#cgvModal">CGV</a> ainsi que la 
                    <a href="#" data-bs-toggle="modal" data-bs-target="#confidentialityModal">politique de confidentialité</a> du site. <span class="required">*</span>
                </label>
            </div>
        </div>
          
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary px-5 mt-4 payment-submit">Passer au paiement</button>
        </div>

    </form>

</div>

{% comment %} CGV Modal {% endcomment %}
<div class="modal fade modal-lg" id="cgvModal" tabindex="-1" aria-labelledby="cgvModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="cgvModalLabel">Conditions Générales de Vente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include "common/cgv.html" %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

{% comment %} Confidentiality Modal {% endcomment %}
<div class="modal fade modal-lg" id="confidentialityModal" tabindex="-1" aria-labelledby="confidentialityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="confidentialityModalLabel">Politique de Confidentialité</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include "common/confidentiality.html" %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

{% endblock body %}